<nav>
  <div class="site-title">
    <div class="site-title-left">
      <a href="/">
        <div class="logo-dot"></div>
      </a>
      <div>
        <a href="/"><h1>Emma</h1></a>
        <p>AI engine Emma</p>
      </div>
    </div>

    <!-- (isteğe bağlı sağ tarafa bir şey koymak istersen buraya ekleyebilirsin) -->
  </div>

  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
